:root {
    --default-background-color: white;
    --bg-secondary: #e4e4e4;
    --bg-tertiary: #dadada;
    --bg-4: #b3b3b3;
    --modal-primary: black;
    --modal-secondary: rgb(36, 36, 36);
    --standard-transition-duration: 300ms;
    --input-focus-bg: #e3f2fd;
    --input-invalid-bg: #ffcdd2;
    --topBar-separation: #ccc;
    --osxButtonOutline: rgb(0 0 0 / 10%);
    --link-color: #2f6355;
}
@media (prefers-color-scheme: dark) {
    :root {
        --default-background-color: rgb(29, 29, 29);
        --bg-secondary: #2b2b2b;
        --bg-tertiary: #3b3b3b;
        --bg-4: #575757;
        --modal-primary: rgb(255, 255, 255);
        --modal-secondary: rgb(230, 230, 230);
        --input-focus-bg: #2a3238;
        --input-invalid-bg: #503538;
        --topBar-separation: #696969;
        --osxButtonOutline: rgb(0 0 0 / 54%);
        --link-color: #76ffda;
    }
    .darkModeMask {
        display: block !important;
    }
}
* {
    box-sizing: border-box;
}
a {
    color: var(--link-color);
}
#app-mount,
body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    overflow: hidden;
    background-color: var(--default-background-color);
    background-image: linear-gradient(270deg, #84ffdf, #8a81ff, #f981ff, #ff8181, #ffbf81, #fff181, #9eff81, #81ffc8);
    background-size: 1600% 1600%;
    animation: AnimationName 40s ease-in-out infinite;
    user-select: none;
    color: var(--modal-primary);
}
#app-mount {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.topBar {
    width: 100%;
    background: var(--default-background-color);
    border-bottom: 1px solid var(--topBar-separation);
    display: flex;
    -webkit-app-region: drag;
    z-index: 1000;
}
@keyframes AnimationName {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.content {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
#splashscreen {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--default-background-color);
    color: var(--modal-primary);
    max-width: 500px;
    opacity: 0;
    display: none;
    transition: all var(--standard-transition-duration);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
#splashscreen h1 {
    margin: 0;
    font-size: 2em;
}
#splashscreen p {
    color: var(--modal-secondary);
}
.interactableBtn {
    display: block;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
}
.interactableBtn:hover {
    text-decoration: underline;
}
.links{
    display: flex;
    justify-content: space-evenly;
}
.sc_link:hover{
    text-decoration: none;
    background-image: none;
    transform: translateY(-5px);
}
.sc_link{
    display: flex;
    background-color: var(--bg-secondary);
    padding: 6px 10px;
    margin: 5px;
    border-radius: 6px;
    transition: all 200ms;
}
.sc_link_img{
    /* height: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sc_link_img.youtube{
    background-image: url(youtube.png);
    width: 34px;
}
.sc_link_img.github{
    width: 24px;
    background-image: url(github.png);
}
.sc_link_txt{
    margin-left: 5px;
    color: var(--modal-secondary);
}
#editor,
#mainMenu {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.2);
    width: 100%;
    height: 100%;
    background-color: var(--default-background-color);
    opacity: 0;
    display: none;
    transition: all var(--standard-transition-duration);
    overflow-y: auto;
    padding-top: 20px;
}
.mainMenuList {
    width: 80%;
    max-width: 1200px;
    display: block;
    margin: 20px auto;
}
.listItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #efefef;
    transition: background-color var(--standard-transition-duration);
}
.listItem:hover {
    background-color: var(--bg-tertiary);
}
.delete,
.edit,
.run {
    margin-left: 20px;
    background-color: #64b5f6;
    box-shadow: 0 2px 0 0 #2196f3;
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.run {
    background-color: #64f66b;
    box-shadow: 0 2px 0 0 #16a12d;
}
.delete {
    margin-left: auto;
    background-color: #f66464;
    box-shadow: 0 2px 0 0 #a11616;
}
.delete:active,
.edit:active,
.run:active {
    transform: translateY(2px);
    box-shadow: none;
}
.edit:focus,
.run:focus {
    outline: 0;
}
#discordNotDetected {
    align-self: center;
    background: #f04747;
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 10px;
}
#videoReminder {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
    background-color: var(--bg-secondary);
    padding: 20px;
    border-radius: 10px;
}
#topBarTitle {
    margin: 5px 10px;
    font-size: 17px;
}
.osxButtons {
    display: none;
    align-items: center;
    margin-left: 4px;
}
.osxbutton:focus {
    outline: 0;
}
.osxbutton {
    border: none;
    border-radius: 10000px;
    height: 14px;
    width: 13px;
    margin-left: 4px;
    margin-right: 4px;
    border: 1px var(--osxButtonOutline) solid;
}
#macMinimize {
    background-color: #fec309;
}
#macMaximise {
    background-color: #29c732;
}
#macClose {
    background-color: #fc2125;
}
.winButtons {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.winCloseWindow,
.winMinimizeWindow {
    -webkit-app-region: no-drag;
    background: 0 0;
    border: none;
    font-size: 25px;
    height: 100%;
    color: var(--modal-secondary);
    cursor: pointer;
    border-radius: 0;
    transition: border-radius 0.4s;
}
.winCloseWindow:focus,
.winMinimizeWindow:focus {
    outline: 0;
}
.winCloseWindow:active,
.winMinimizeWindow:active {
    transform: scale(0.9);
    border-radius: 2px;
}
.winMinimizeWindow:hover {
    background-color: var(--bg-secondary);
    color: var(--modal-primary);
}
.winCloseWindow:hover {
    background-color: #f04747;
    color: #fff;
}
.half {
    display: block;
    float: left;
    width: 50%;
    height: 100%;
}
.dataInput {
    background: var(--default-background-color);
    border: var(--bg-secondary) 1px solid;
    border-radius: 3px;
    padding: 8px 15px;
    transition: all 0.1s;
    color: var(--modal-primary);
}
.dataInput:focus {
    border: 1px solid #2196f3;
    outline: 0;
    background-color: var(--input-focus-bg);
}
.dataInput:invalid {
    background: var(--input-invalid-bg);
    border: 1px solid #f44336;
}
.inputPlaceholder {
    color: var(--modal-secondary);
    font-size: 13px;
    margin-bottom: 5px;
}
.backButtonContainer {
    padding: 20px;
}
#backButton {
    text-decoration: underline;
}
.inputContainer {
    padding: 20px;
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.inputFull {
    width: 100%;
}
.imageModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all var(--standard-transition-duration);
    opacity: 0;
    display: none;
}
.imageModalContent {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--default-background-color);
    padding: 15px 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    transition: all var(--standard-transition-duration);
}
.imageSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.imageSelection .dataInput {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}
.button {
    background-color: #64b5f6;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 0 0 #2196f3;
}
.redPromptButton {
    display: block;
    background-color: #e57373;
    box-shadow: 0 4px 0 0 #f44336;
}
.button:active {
    box-shadow: none !important;
    transform: translateY(4px);
}
.button:focus {
    outline: 0;
}
.modal {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all var(--standard-transition-duration);
    opacity: 0;
    display: none;
}
.modalContent {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--default-background-color);
    padding: 15px 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    transition: all var(--standard-transition-duration);
}
@media (max-width: 450px) {
    #splashscreen {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
.header-5vGZJs {
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    background: #7289da;
}
.headerTop-1oP4Gl {
    padding: 20px 10px;
    background-color: #7289da;
}
.flex-1xMQg5,
.flex-1xMQg5 .flexChild-faoVW3 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.flex-1xMQg5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.weightSemiBold-tctXJ7 {
    font-weight: 600;
}
.weightBold-13i9Oz {
    font-weight: 700;
}
.size12-DS9Pyp {
    font-size: 12px;
}
.height16-3r2Q2W {
    line-height: 16px;
}
.flexVertical-3EM43- {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.flexAlignCenter-2tn6as {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.flexJustifyCenter-XyJP9E {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.flexWrap-1K8nA- {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-1xMQg5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex-1xMQg5,
.flex-1xMQg5 .flexChild-faoVW3 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.flex-1xMQg5 .flexChild-faoVW3 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
@-webkit-keyframes spinner-wandering-cubes-1eyF3t {
    25% {
        -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5);
        transform: translateX(22px) rotate(-90deg) scale(0.5);
    }
    50% {
        -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg);
        transform: translateX(22px) translateY(22px) rotate(-180deg);
    }
    75% {
        -webkit-transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
        transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}
@keyframes spinner-wandering-cubes-1eyF3t {
    25% {
        -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5);
        transform: translateX(22px) rotate(-90deg) scale(0.5);
    }
    50% {
        -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg);
        transform: translateX(22px) translateY(22px) rotate(-180deg);
    }
    75% {
        -webkit-transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
        transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}
@-webkit-keyframes spinner-chasing-dots-rotate-1WX_VU {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@keyframes spinner-chasing-dots-rotate-1WX_VU {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@-webkit-keyframes spinner-chasing-dots-bounce-39u8Kf {
    0%,
    to {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes spinner-chasing-dots-bounce-39u8Kf {
    0%,
    to {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes spinner-pulsing-ellipsis-1qRxRG {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.3;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes spinner-pulsing-ellipsis-1qRxRG {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.3;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes spinner-spinning-circle-rotate-1-ejtM {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@keyframes spinner-spinning-circle-rotate-1-ejtM {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@-webkit-keyframes spinner-spinning-circle-dash-3G9Wwf {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 130, 200;
    }
    to {
        stroke-dasharray: 130, 200;
        stroke-dashoffset: -124;
    }
}
@keyframes spinner-spinning-circle-dash-3G9Wwf {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 130, 200;
    }
    to {
        stroke-dasharray: 130, 200;
        stroke-dashoffset: -124;
    }
}
.Select {
    position: relative;
}
.Select,
.Select div,
.Select input,
.Select span {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.Select-placeholder {
    bottom: 0;
    color: #aaa;
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Select-input {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
.Select-input > input {
    width: 100%;
    background: none transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-size: inherit;
    margin: 0;
    outline: 0;
    line-height: 14px;
    padding: 8px 0 12px;
    -webkit-appearance: none;
}
@-webkit-keyframes Select-animation-fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes Select-animation-fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.Select-menu {
    max-height: 198px;
    overflow-y: auto;
}
@keyframes Select-animation-spin {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@-webkit-keyframes Select-animation-spin {
    to {
        -webkit-transform: rotate(1turn);
    }
}
.Select.Select {
    font-size: 16px;
}
.Select.Select .Select-value {
    padding-right: 26px;
}
.Select.Select .Select-menu {
    border-radius: 0 0 3px 3px;
}
.Select.Select .Select-placeholder {
    line-height: 39px;
}
.Select.Select .Select-input {
    height: 100%;
}
.Select.Select .Select-input input {
    height: 100%;
    position: relative;
    padding: 0;
}
.Select.Select .Select-menu::-webkit-scrollbar {
    width: 8px;
}
.Select.Select .Select-menu::-webkit-scrollbar-thumb,
.Select.Select .Select-menu::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: transparent;
    background-clip: padding-box;
    border-radius: 4px;
}
.Select.Select .Select-menu::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-color: transparent;
}
.Select.Select .Select-input input {
    color: #f6f6f7;
}
.avatar-16XVId {
    position: relative;
    border-radius: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.popout-2fzvxG {
    width: 90px;
    height: 90px;
}
.status-oxiHuE {
    border-radius: 50%;
}
.status-oxiHuE {
    width: 25%;
    height: 25%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.statusOnline-1FlpW_ {
    background-color: #43b581;
}
.statusProfile-3ynqtt {
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 30%;
    height: 30%;
}
.statusOnlineProfile-C7N-xU {
    -webkit-box-shadow: inset 0 0 0 2px rgba(180, 225, 205, 0.6);
    box-shadow: inset 0 0 0 2px rgba(180, 225, 205, 0.6);
}
@-webkit-keyframes glitch-anim-398aPB {
    0% {
        clip: rect(3px, 9999px, 86px, 0);
    }
    6.66666667% {
        clip: rect(27px, 9999px, 128px, 0);
    }
    13.33333333% {
        clip: rect(35px, 9999px, 71px, 0);
    }
    20% {
        clip: rect(10px, 9999px, 134px, 0);
    }
    26.66666667% {
        clip: rect(23px, 9999px, 145px, 0);
    }
    33.33333333% {
        clip: rect(40px, 9999px, 80px, 0);
    }
    40% {
        clip: rect(33px, 9999px, 153px, 0);
    }
    46.66666667% {
        clip: rect(50px, 9999px, 84px, 0);
    }
    53.33333333% {
        clip: rect(57px, 9999px, 188px, 0);
    }
    60% {
        clip: rect(79px, 9999px, 65px, 0);
    }
    66.66666667% {
        clip: rect(21px, 9999px, 168px, 0);
    }
    73.33333333% {
        clip: rect(62px, 9999px, 119px, 0);
    }
    80% {
        clip: rect(4px, 9999px, 126px, 0);
    }
    86.66666667% {
        clip: rect(10px, 9999px, 133px, 0);
    }
    93.33333333% {
        clip: rect(51px, 9999px, 196px, 0);
    }
    to {
        clip: rect(77px, 9999px, 73px, 0);
    }
}
@keyframes glitch-anim-398aPB {
    0% {
        clip: rect(3px, 9999px, 86px, 0);
    }
    6.66666667% {
        clip: rect(27px, 9999px, 128px, 0);
    }
    13.33333333% {
        clip: rect(35px, 9999px, 71px, 0);
    }
    20% {
        clip: rect(10px, 9999px, 134px, 0);
    }
    26.66666667% {
        clip: rect(23px, 9999px, 145px, 0);
    }
    33.33333333% {
        clip: rect(40px, 9999px, 80px, 0);
    }
    40% {
        clip: rect(33px, 9999px, 153px, 0);
    }
    46.66666667% {
        clip: rect(50px, 9999px, 84px, 0);
    }
    53.33333333% {
        clip: rect(57px, 9999px, 188px, 0);
    }
    60% {
        clip: rect(79px, 9999px, 65px, 0);
    }
    66.66666667% {
        clip: rect(21px, 9999px, 168px, 0);
    }
    73.33333333% {
        clip: rect(62px, 9999px, 119px, 0);
    }
    80% {
        clip: rect(4px, 9999px, 126px, 0);
    }
    86.66666667% {
        clip: rect(10px, 9999px, 133px, 0);
    }
    93.33333333% {
        clip: rect(51px, 9999px, 196px, 0);
    }
    to {
        clip: rect(77px, 9999px, 73px, 0);
    }
}
@-webkit-keyframes glitch-anim-2-Z_ftcN {
    10.52631579% {
        clip: rect(65px, 9999px, 200px, 0);
    }
    15.78947368% {
        clip: rect(8px, 9999px, 200px, 0);
    }
    21.05263158% {
        clip: rect(51px, 9999px, 159px, 0);
    }
    26.31578947% {
        clip: rect(6px, 9999px, 82px, 0);
    }
    31.57894737% {
        clip: rect(1px, 9999px, 106px, 0);
    }
    36.84210526% {
        clip: rect(17px, 9999px, 69px, 0);
    }
    42.10526316% {
        clip: rect(65px, 9999px, 144px, 0);
    }
    47.36842105% {
        clip: rect(1px, 9999px, 91px, 0);
    }
    52.63157895% {
        clip: rect(18px, 9999px, 209px, 0);
    }
    57.89473684% {
        clip: rect(14px, 9999px, 175px, 0);
    }
    63.15789474% {
        clip: rect(61px, 9999px, 107px, 0);
    }
    68.42105263% {
        clip: rect(73px, 9999px, 178px, 0);
    }
    73.68421053% {
        clip: rect(53px, 9999px, 207px, 0);
    }
    78.94736842% {
        clip: rect(33px, 9999px, 199px, 0);
    }
    84.21052632% {
        clip: rect(73px, 9999px, 144px, 0);
    }
    89.47368421% {
        clip: rect(79px, 9999px, 163px, 0);
    }
    94.73684211% {
        clip: rect(1px, 9999px, 76px, 0);
    }
    to {
        clip: rect(64px, 9999px, 117px, 0);
    }
}
@keyframes glitch-anim-2-Z_ftcN {
    10.52631579% {
        clip: rect(65px, 9999px, 200px, 0);
    }
    15.78947368% {
        clip: rect(8px, 9999px, 200px, 0);
    }
    21.05263158% {
        clip: rect(51px, 9999px, 159px, 0);
    }
    26.31578947% {
        clip: rect(6px, 9999px, 82px, 0);
    }
    31.57894737% {
        clip: rect(1px, 9999px, 106px, 0);
    }
    36.84210526% {
        clip: rect(17px, 9999px, 69px, 0);
    }
    42.10526316% {
        clip: rect(65px, 9999px, 144px, 0);
    }
    47.36842105% {
        clip: rect(1px, 9999px, 91px, 0);
    }
    52.63157895% {
        clip: rect(18px, 9999px, 209px, 0);
    }
    57.89473684% {
        clip: rect(14px, 9999px, 175px, 0);
    }
    63.15789474% {
        clip: rect(61px, 9999px, 107px, 0);
    }
    68.42105263% {
        clip: rect(73px, 9999px, 178px, 0);
    }
    73.68421053% {
        clip: rect(53px, 9999px, 207px, 0);
    }
    78.94736842% {
        clip: rect(33px, 9999px, 199px, 0);
    }
    84.21052632% {
        clip: rect(73px, 9999px, 144px, 0);
    }
    89.47368421% {
        clip: rect(79px, 9999px, 163px, 0);
    }
    94.73684211% {
        clip: rect(1px, 9999px, 76px, 0);
    }
    to {
        clip: rect(64px, 9999px, 117px, 0);
    }
}
a img {
    border: none;
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}
.margin-top-4 {
    margin-top: 4px;
}
.margin-bottom-4 {
    margin-bottom: 4px;
}
.margin-top-8 {
    margin-top: 8px;
}
.margin-bottom-8 {
    margin-bottom: 8px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
.margin-top-100 {
    margin-top: 100px;
}
.margin-bottom-100 {
    margin-bottom: 100px;
}
.margin-top-200 {
    margin-top: 200px;
}
@media screen and (max-width: 768px) {
    .margin-top-200 {
        margin-top: 50px;
    }
}
.margin-bottom-200 {
    margin-bottom: 200px;
}
@media screen and (max-width: 768px) {
    .margin-bottom-200 {
        margin-bottom: 50px;
    }
}
:gobal(#app-mount),
body,
html {
    height: 100%;
}
body,
html {
    overflow: hidden;
}
body {
    background: #202225;
    color: #fff;
}
a {
    text-decoration: none;
}
#app-mount {
    height: 100%;
}
body {
    color: #b9bbbe;
    text-rendering: optimizeLegibility;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
a {
    color: #00b0f4;
    cursor: pointer;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
}
a:hover {
    background-image: linear-gradient(0deg, transparent, transparent 1px, #0078a6 0, #0078a6 2px, transparent 0);
    color: #33c0f6;
}
.Select {
    position: relative;
}
.Select,
.Select div,
.Select input,
.Select span {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.Select-placeholder {
    bottom: 0;
    color: #aaa;
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Select-input {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
.Select-input > input {
    width: 100%;
    background: none transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: 0;
    line-height: 14px;
    padding: 8px 0 12px;
    -webkit-appearance: none;
}
@-webkit-keyframes Select-animation-fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes Select-animation-fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.Select-menu {
    max-height: 198px;
    overflow-y: auto;
}
@keyframes Select-animation-spin {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@-webkit-keyframes Select-animation-spin {
    to {
        -webkit-transform: rotate(1turn);
    }
}
.select-1X3k41 {
    margin-left: -10px;
}
@-webkit-keyframes spin-3elCWT {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@keyframes spin-3elCWT {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
.ellipsis-3FlOLA {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.headerText-1MkmdY {
    color: #fff;
    text-transform: uppercase;
}
.headerTextNormal-IQv_F3 {
    margin-bottom: 8px;
}
.body-2UpBpw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.bodyNormal-1mxJz_ {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.assets-CO38Qu {
    position: relative;
}
.assetsLargeImage-3JJo62 {
    -webkit-user-drag: none;
    border-radius: 4px;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}
.assetsLargeImageUserPopout-2SRcNA {
    width: 60px;
    height: 60px;
}
.assetsSmallImage-1SwkaS {
    -webkit-user-drag: none;
    border-radius: 50%;
    position: absolute;
    bottom: -4px;
    right: -4px;
}
.assetsSmallImageUserPopout-3fqJpC {
    width: 30px;
    height: 30px;
}
.content-3x5Lgs {
    overflow: hidden;
}
.textRow-1sYCLh {
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
}
.activityUserPopout-1m5_4M .textRow-1sYCLh {
    margin-bottom: 2px;
}
.activityUserPopout-1m5_4M {
    padding: 20px;
}
.activityUserPopout-1m5_4M .headerText-1MkmdY {
    color: #fff;
}
.activityUserPopout-1m5_4M .content-3x5Lgs,
.activityUserPopout-1m5_4M .details-mW9zpA {
    color: hsla(0, 0%, 100%, 0.8);
}
.userPopout-101WGK {
    width: 250px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 0 20px 2px rgba(4, 4, 5, 0.3);
    box-shadow: 0 0 20px 2px #18191c;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-5vGZJs {
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    background: #7289da;
}
.headerTop-1oP4Gl {
    padding: 20px 10px;
    background-color: #7289da;
}
.avatarWrapper-3ojDhW {
    border-radius: 50%;
    margin-bottom: 10px;
    position: relative;
}
.headerText-dZ3aTA {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.headerTagNoNickname-2OORDe {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 16px;
    word-break: break-word;
    white-space: normal;
}
.username-PM0_IU {
    color: #fff;
}
.content-eARZMs {
    background-color: rgba(0, 0, 0, 0.05);
}
p {
    margin-bottom: 10px;
}
::-webkit-file-upload-button {
    cursor: pointer;
}
@-webkit-keyframes spinner-wandering-cubes-3SGdgd {
    25% {
        -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5);
        transform: translateX(22px) rotate(-90deg) scale(0.5);
    }
    50% {
        -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg);
        transform: translateX(22px) translateY(22px) rotate(-180deg);
    }
    75% {
        -webkit-transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
        transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}
@keyframes spinner-wandering-cubes-3SGdgd {
    25% {
        -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5);
        transform: translateX(22px) rotate(-90deg) scale(0.5);
    }
    50% {
        -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg);
        transform: translateX(22px) translateY(22px) rotate(-180deg);
    }
    75% {
        -webkit-transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
        transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}
@-webkit-keyframes spinner-chasing-dots-rotate-1lwTQL {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@keyframes spinner-chasing-dots-rotate-1lwTQL {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@-webkit-keyframes spinner-chasing-dots-bounce-3zmgTN {
    0%,
    to {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes spinner-chasing-dots-bounce-3zmgTN {
    0%,
    to {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes spinner-ellipsis-28ZVVQ {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.3;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes spinner-ellipsis-28ZVVQ {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.3;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes spinner-spinning-circle-rotate-19A6DI {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@keyframes spinner-spinning-circle-rotate-19A6DI {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@-webkit-keyframes spinner-spinning-circle-dash-qlhNKX {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    to {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}
@keyframes spinner-spinning-circle-dash-qlhNKX {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    to {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    line-break: anywhere;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
